.home-container {
    position: fixed;
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: fit-content;
    padding-left: 5vw;

    top: 15vw;
}

.home-body {
    display: flex;
    
    flex-direction: column;


    top: 30vh;
    height: fit-content;
}

.input-text {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-text:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
